.bubbles_container {
  margin: auto;
  width: 250px;
  height: 100px;
}

.bubbles {
  display:inline-block;
  height: 15px;
  width: 15px;
  margin: 18px 6px;

  border-radius: 100%;
  background-color: white;
  opacity: 0;
}

.bubble_1 {
  -webkit-animation: fade-in .9s infinite;
  -moz-animation: fade-in .9s infinite;
  -o-animation: fade-in .9s infinite;
  animation: fade-in .9s infinite;
}

.bubble_2 {

  -webkit-animation: fade-in .9s infinite;
  -moz-animation: fade-in .9s infinite;
  -o-animation: fade-in .9s infinite;
  animation: fade-in .9s infinite;

  -webkit-animation-delay: .15s;
  -moz-animation-delay: .15s;
  -ms-animation-delay: .15s;
  -o-animation-delay: .15s;
  animation-delay: .15s;
}

.bubble_3 {
  -webkit-animation: fade-in .9s infinite;
  -moz-animation: fade-in .9s infinite;
  -o-animation: fade-in .9s infinite;
  animation: fade-in .9s infinite;

  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -ms-animation-delay: .3s;
  -o-animation-delay: .3s;
  animation-delay: .3s;
}

@keyframes fade-in {
  0% {transform: scale(0); opacity: 1;}
  35% {transform: scale(1);}
  70% {transform: scale(0);opacity: 1;}
  100% {transform: scale(0);opacity: 1;}
}

@-webkit-keyframes fade-in {
  0% {transform: scale(0); opacity: 1;}
  35% {transform: scale(1);}
  70% {transform: scale(0);opacity: 1;}
  100% {transform: scale(0);opacity: 1;}
}

@-moz-keyframes fade-in {
  0% {transform: scale(0); opacity: 1;}
  35% {transform: scale(1);}
  70% {transform: scale(0);opacity: 1;}
  100% {transform: scale(0);opacity: 1;}
}

@-o-keyframes fade-in {
  0% {transform: scale(0); opacity: 1;}
  35% {transform: scale(1);}
  70% {transform: scale(0);opacity: 1;}
  100% {transform: scale(0);opacity: 1;}
}
