


.signin-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgba(11, 15, 39, 0.8),
    rgba(11, 15, 39, 0.8)
  ), url("../../assets/dude_in_wave.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
}

.testio-logo {
  width: 245px;
  height: auto;
  margin-bottom: 70px;
}

.form-container {
  color: white;
}

.input-form {
  width: 300px;
  height: 50px;
  border-radius: 8px;
  border: none;
  margin-bottom: 15px;
  padding-left: 50px;
  padding-top: 5px;
  color: #424242;
  font-size: 14px;
}

.input-form:focus {
  background-color: #999;
  outline: none;
}

.input-form::placeholder {
  color: #b3b3b3;
}

#ico-user {
  position: absolute;
  background: url("../../assets/ico-username.png") left top;
  background-size: 14px;
  width: 14px;
  height: 16px;
  margin: 21px 24px;
}

#ico-pass {
  position: absolute;
  background: url("../../assets/ico-lock.png") left top;
  background-size: 14px;
  width: 14px;
  height: 16px;
  margin: 21px 24px;
}

.login-btn {
  width: 350px;
  height: 55px;
  border-radius: 12px;
  border-radius: 8px;
  border: none;
  font-weight: bold;
  color: white;
  background-color: #9fd533;
}

.login-btn:hover {
  background-color: #86b300;
}
