$error_color: #ab2e2e;
$error_color_text: #f9f9f9;

.error-exit {
  position: absolute;
  top: .8em;
  right: 1.5em;
  cursor: pointer;
}

.error-hidden {
  display: none;
}

.error-container {
  position: absolute;
  width: 100%;
  top: 0;
  padding: .8em 0 .5em;

  display: flex;
  justify-content: center;
  align-items: center;

  color: $error_color_text;
  background: $error_color;

  -webkit-animation: fade-in 0.3s ease-in-out forwards;
	-moz-animation: fade-in 0.3s ease-in-out forwards;
	-o-animation: fade-in 0.3s ease-in-out forwards;
	animation: fade-in .3s ease-in-out forwards;
}

@keyframes fade-in {
  0% {top: -30px; opacity: 0.1;}
  15% {top: -20px; opacity: 0.2;}
  30% {top: -10px; opacity: 0.4;}
  50% {top: 0; opacity: 0.6;}
	100% { top: 0px; opacity: 1;}
}

@-webkit-keyframes fade-in {
  0% {top: -30px; opacity: 0.1;}
  15% {top: -20px; opacity: 0.2;}
  30% {top: -10px; opacity: 0.4;}
  50% {top: 0; opacity: 0.6;}
	100% { top: 0px; opacity: 1;}
}

@-moz-keyframes fade-in {
  0% {top: -30px; opacity: 0.1;}
  15% {top: -20px; opacity: 0.2;}
  30% {top: -10px; opacity: 0.4;}
  50% {top: 0; opacity: 0.6;}
	100% { top: 0px; opacity: 1;}
}

@-o-keyframes fade-in {
  0% {top: -30px; opacity: 0.1;}
  15% {top: -20px; opacity: 0.2;}
  30% {top: -10px; opacity: 0.4;}
  50% {top: 0; opacity: 0.6;}
	100% { top: 0px; opacity: 1;}
}
